<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title> comment </title>
	<link href="/templates/rock/static/dist/css/gitment.css" rel="stylesheet" type="text/css">
</head>
<body>
	<div id="container"></div>
	<script src="/templates/rock/static/dist/js/gitment.js"></script>
	<script>
		var id = encodeURIComponent(window.location.pathname);
		var clientId = '05e121b296febffb17e0';
		var clientSecret = 'b864371cd8ce021bc84ab61f3342107508fea286';
		var gitment = new Gitment({
			id: id,
			owner: 'zhugeliange',
			repo: 'JustWriting',
			oauth: {
				client_id: clientId,
				client_secret: clientSecret,
			},
		});

		gitment.render('container');
	</script>
</body>
</html>