{% extends 'base.html' %}
{% block title %}{{ config.title }} - {{ lang('tags') }}{% endblock %}

{% block content %}
{%if  all_tags %}
<div class="mid-col">
    <div class="mid-col-container">
        <!-- <h2 class="title">{{ lang('tags') }}：</h2>
        <br>
      {% for tag,weight in all_tags %}       
        <div class="tag">
    		<a href="/tags/{{ tag }}">{{ tag }}</a>
        </div>
        {% endfor %} -->
        <div class="tags">
            <a href="1"> tag1 </a>
            <a href="2"> tag2 </a>
            <a href="3"> tag3 </a>
            <a href="4"> tag4 </a>
            <a href="5"> tag5 </a>
            <a href="6"> tag6 </a>
            <a href="7"> tag7 </a>
            <a href="8"> tag8 </a>
            <a href="9"> tag9 </a>
            <a href="10"> tag10 </a>
            <a href="11"> tag11 </a>
            <a href="12"> tag12 </a>
        </div>
    </div>
    {% include 'include/footer.html' %}
</div>
{% else %}
    {% include 'include/posts_list.html' %}
{% endif %}
{% endblock %}


