{% extends 'base.html' %}
{% block title %}{{ config.title }} - {{ lang('tags') }}{% endblock %}

{% block content %}
{%if  all_tags %}
<link rel="stylesheet" href="/templates/rock/css/jqcloud.css" type="text/css">
<script type="text/javascript" src="/templates/rock/js/jqcloud-1.0.4.min.js"></script>
<script type="text/javascript">

{% autoescape false %}
var word_array = {{ all_tags|json_encode() }};
{% endautoescape %}

$(function() {
    $("#tag").jQCloud(word_array, {
        width : 500,
        height : 500,
        delayedMode : true,
        removeOverflowing : true
    });
});
</script>
<div class="mid-col">
    <div class="mid-col-container" style="display: flex; justify-content:center; flex-direction:column; align-items:center;">
        <!-- <h2 class="title">{{ lang('tags') }}：</h2>
        <br> -->
        <!-- {% for tag,weight in all_tags %}       
            <div class="tag">
                <a href="/tags/{{ tag }}">{{ tag }}</a>
            </div>
        {% endfor %} -->
        <div id="tag" class="tag"></div>
    </div>
    {% include 'include/footer.html' %}
</div>
{% else %}
    {% include 'include/posts_list.html' %}
{% endif %}
{% endblock %}


